<div class="card" [ngStyle]="{ 'background-color': tracker.color }">
  <div
    class="image-container"
    [ngStyle]="{
      'background-color': tracker.color,
      'background-image': 'url(' + tracker.backgroundImage + ')'
    }"
  ></div>
  <div class="info-container">
    <div class="activity-name">
      <p>{{ tracker.activity }}</p>
      <img src="/assets/icon-ellipsis.svg" alt="ellipsis" />
    </div>
    <div class="activity-hours">
      <p class="p1">{{ tracker.activityTime }}</p>
      <p class="p2">Last Week - {{ tracker.lastWeekTime }}</p>
    </div>
  </div>
</div>
